[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aicoe-donkeycar = "*"
gym-donkeycar = {git = "https://github.com/tawnkramer/gym-donkeycar"}
opencv-python-headless = "*"
tensorflow = "*"
pandas = "*"
imgaug = "0.3.0"
wget = "*"

[dev-packages]

[requires]
python_version = "3.8"
